@page "/"


<div class="container">
    <div class="row">
        <div class="col p-2">
            <textarea class="p-2 form-control" style="min-height: 400px" @bind-value="@codestr" @bind-value:event="oninput"></textarea>
        </div>
    </div>
    <div>
        <div class="col">
            <p style="color: red">@ErrorMessage</p>
        </div>
    </div>
    <div class="row">
        <div class="col card p-2">
            <h3>@Xaml.FileName</h3>
            <pre><code class="xml">@Xaml.Content</code> </pre>
        </div>
    </div>
    <div class="row card p-2">
        <div class="col">
            <h3>@CSharp.FileName</h3>
            <pre>@CSharp.Content</pre>
        </div>
    </div>
</div>
@code {



    private string _codestr = Evans.XamlTemplates.Examples.Basic;
    public string codestr { get => _codestr; set { _codestr = value; CodeChanged(); } }
    public Evans.XamlTemplates.Generator.GeneratedFile Xaml { get; set; }
    public Evans.XamlTemplates.Generator.GeneratedFile CSharp { get; set; }
    public string ErrorMessage { get; set; } = "";

    Evans.XamlTemplates.Templator gen = new Evans.XamlTemplates.Templator();


    private void CodeChanged()
    {
        Console.WriteLine("Code Changed!");
        try
        {
            var result = gen.Generate(codestr, "Templates");
            Console.WriteLine("success!");
            if(result.Any())
            {
                Xaml = result[0].Xaml;
                CSharp = result[0].CSharp;
            }
            ErrorMessage = "";
        }
        catch (Exception e)
        {
            ErrorMessage = e.Message;
        }

    }
    protected override void OnInitialized()
    {
        Console.WriteLine("Started!");
        CodeChanged();
    }

}
